streamlit>=1.35.0
langchain-chroma
langchain-text-splitters
langchain-huggingface
sentence-transformers
groq
torch --index-url https://download.pytorch.org/whl/cpu
chromadb
pysqlite3-binary
python-dotenv
pypdf
python-docx
Spire.Doc